.footer {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background: #181818;

  &-wrapper {
    width: 100%;
    padding: 0;
  }
  &-section {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-direction: column;
    gap: 30px;

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;

      &-desc {
        max-width: 334px;
        color: #f5f5f5;
        font-size: 16px;
        font-weight: 700;
        line-height: 22.4px;
      }

      &-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
      }
      &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        color: #fff;
      }
      &-title {
        color: #f5f5f5;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
      }
      &-menus {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        max-width: 257px;
        list-style: none;
        padding: 0;
      }
      &-menu {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 22.4px;
        cursor: pointer;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &__adver {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #f5f5f5;
      &-name {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.28px;
      }
      &-lists {
        display: flex;
        align-items: center;
        gap: 29px;
      }
      &-list {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.28px;
        cursor: pointer;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    padding: 50px 110px;
    &-section {
      &__info {
        gap: 20px;
        &-desc {
          max-width: 300px;
          font-size: 15px;
        }
        &-title {
          font-size: 18px;
        }
        &-menus {
          max-width: 220px;
        }
      }
      &__adver {
        gap: 15px;
      }
    }
  }

  @media (max-width: 992px) {
    padding: 40px 80px;
    gap: 20px;
    &-section {
      &__info {
        &-wrapper {
          gap: 20px;
        }
        &-logo {
          img {
            height: 60px;
          }
        }
        &-desc {
          max-width: 300px;
          font-size: 15px;
        }
        &-title {
          font-size: 18px;
        }
        &-menus {
          max-width: 220px;
          gap: 15px;
        }
        &-menu {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__adver {
        flex-direction: column;
        &-name,
        &-list {
          font-size: 13px;
        }
        &-lists {
          gap: 20px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 20px 40px;
    &-section {
      &__info {
        align-items: center;
        flex-direction: column;
        &-logo {
          align-items: center;
        }
        &-desc {
          text-align: center;
        }
        &-wrapper {
          align-items: center;
        }
        &-menus {
          align-items: center;
          text-align: center;
        }
      }
      &__adver {
        flex-direction: column;
        gap: 10px;
        &-lists {
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 10px 30px;
    gap: 15px;
    &-section {
      gap: 15px;
      &__info {
        flex-direction: column;
        gap: 15px;
        &-desc {
          max-width: 200px;
          font-size: 12px;
        }
        &-title {
          font-size: 14px;
        }
      }
      &__adver {
        gap: 8px;
        &-name,
        &-list {
          font-size: 12px;
        }
      }
    }
  }
}
