.hero {
  padding: 60px 0;

  &-wrapper {
    display: grid;
    overflow: hidden;
    grid-template-columns: 855px;
    gap: 103px;
    padding: 60px 50px;

    max-width: 1600px;
    height: auto;
    border-radius: 30px;

    background: linear-gradient(138deg, #084e8c 15.31%, #097be0 84.79%);
    position: relative;
  }

  &-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #fff;

    &__title {
      font-size: 58px;
      font-style: normal;
      font-weight: 600;
      line-height: 75.4px;
      transition: all 1s;
      animation: slide 0.5s forwards;
    }

    &__desc {
      color: $light-gray;
      max-width: 745px;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      animation: slide 1s forwards;
    }
  }

  &-actions {
    display: flex;
    gap: 18px;
    width: 100%;
    grid-area: 2 / 1 / span 2 / span 2;
    z-index: 2;
  }

  &-action {
    display: flex;
    padding: 47px 62px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    cursor: pointer;
    color: #fff;
    text-align: center;

    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    border-radius: 20px;
    border: 1px solid #fff;
    transition: opacity 0.2s;

    &:nth-child(1) {
      animation: slide-bottom 0.5s forwards;
    }

    &:nth-child(2) {
      animation: slide-bottom 0.7s forwards;
    }

    &:nth-child(3) {
      animation: slide-bottom 1s forwards;
    }

    &:nth-child(4) {
      animation: slide-bottom 1.2s forwards;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-background {
    position: absolute;
    width: 820.308px;
    height: 768.548px;
    flex-shrink: 0;
    animation: rotate360 2.2s forwards;
    opacity: 0.08;
    right: 0;
  }

  @media (max-width: 1440px) {
    padding: $padding-1440;

    &-wrapper {
      padding: 30px 20px;
    }

    &-section {
      gap: 30px;

      &__title {
        font-size: 42px;
        line-height: 56px;
      }

      &__desc {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-actions {
      gap: 12px;
    }

    &-action {
      padding: 20px 40px;
      font-size: 16px;
    }
  }

  @media (max-width: 1200px) {
    padding: $padding-1200;

    &-section {
      gap: 24px;

      &__title {
        font-size: 36px;
        line-height: 48px;
      }

      &__desc {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-actions {
      gap: 10px;
    }

    &-action {
      padding: 16px 32px;
      font-size: 14px;
    }
    &-background {
      right: 0;
      width: 400px;
      img {
        width: 400px;
      }
    }
  }

  @media (max-width: 992px) {
    padding: $padding-920;

    &-wrapper {
      padding: 20px 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &-section {
      gap: 20px;
    }

    &-actions {
      gap: 8px;
    }

    &-action {
      font-size: 12px;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    padding: $padding-768;

    &-wrapper {
      padding: 16px 12px;
    }

    &-section {
      gap: 16px;

      &__title {
        font-size: 28px;
        line-height: 36px;
      }

      &__desc {
        font-size: 10px;
        line-height: 16px;
      }
    }

    &-actions {
      gap: 6px;
      display: flex;
      flex-direction: column;
    }

    &-action {
      padding: 10px 20px;
      font-size: 10px;
    }
  }

  @media (max-width: 480px) {
    padding: $padding-480;

    &-wrapper {
      padding: 10px 8px;
    }

    &-section {
      gap: 12px;

      &__title {
        font-size: 24px;
        line-height: 32px;
      }

      &__desc {
        font-size: 8px;
        line-height: 12px;
      }
    }

    &-actions {
      gap: 4px;
    }

    &-action {
      padding: 6px 10px;
      font-size: 8px;
    }
  }
}
