.contact {
  padding: 0 0 120px 0;
  &-section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: #fff;
    padding: 48px 80px 48px 56px;
    border-radius: 30px;
  }
  &-subtitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__title {
      color: $light-black;
      font-size: 38px;
      font-weight: 600;
      line-height: 49.4px;
    }
    &__desc {
      color: $light-black;
      font-size: 20px;
      font-weight: 700;
    }
  }
  &-actions {
    display: flex;
    align-items: center;
    gap: 40px;

    &__number {
      font-size: 28px;
      font-weight: 600;
      line-height: 40px;
      cursor: pointer;

      background: linear-gradient(138deg, #084e8c 15.31%, #097be0 84.79%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @media (max-width: 1440px) {
    &-wrapper {
      padding: $padding-1440;
    }
    &-section {
      padding: 40px 60px 40px 40px;
    }

    &-subtitle {
      &__title {
        font-size: 32px;
        line-height: 42px;
      }
    }

    &-actions {
      &__number {
        font-size: 24px;
        line-height: 34px;
      }
    }
  }
  @media (max-width: 992px) {
    &-wrapper {
      padding: $padding-1200;
    }
  }

  @media (max-width: 992px) {
    &-wrapper {
      padding: $padding-920;
    }
    &-section {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      padding: 32px;
    }

    &-subtitle {
      &__title {
        font-size: 28px;
        line-height: 38px;
      }

      &__desc {
        font-size: 16px;
      }
    }

    &-actions {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      &__number {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  @media (max-width: 480px) {
    &-wrapper {
      padding: $padding-768;
    }
  }
  @media (max-width: 480px) {
    &-wrapper {
      padding: $padding-480;
    }
    &-subtitle {
      &__title {
        font-size: 24px;
        line-height: 34px;
      }

      &__desc {
        font-size: 14px;
      }
    }

    &-actions {
      &__number {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}
