.statis {
  padding: 0 0 120px 0;
  &-section {
    display: flex;
    gap: 32px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  &-container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    border-radius: 16px;
    background: #fff;
    height: 210px;
    width: 512px;

    &__title {
      color: $blue-text-color;
      font-size: 60px;
      font-weight: 600;
      line-height: 60px;
    }
    &__desc {
      width: 276px;
      color: $dark-gray;
      font-size: 16px;
      font-weight: 700;
      line-height: 22.4px;
    }
  }

  @media (max-width: 1440px) {
    &-wrapper {
      padding: $padding-1440;
    }
    &-section {
      gap: 20px;
    }
    &-container {
      height: 160px;
      width: 350px;
      padding: 16px;
      gap: 10px;

      &__title {
        font-size: 40px;
        line-height: 40px;
      }
      &__desc {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  @media (max-width: 1200px) {
    &-wrapper {
      padding: $padding-1200;
    }
  }
  @media (max-width: 992px) {
    &-wrapper {
      padding: $padding-920;
    }
    &-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }
    &-container {
      height: 140px;
      width: 100%;
      padding: 8px;
      gap: 8px;

      &__title {
        font-size: 36px;
        line-height: 36px;
        text-align: center;
      }
      &__desc {
        font-size: 12px;
        line-height: 16px;
        width: 100%;
        text-align: center;
      }
    }
  }
  @media (max-width: 769px) {
    &-wrapper {
      padding: $padding-768;
    }
    &-section {
      flex-direction: column;
    }
  }

  @media (max-width: 480px) {
    &-wrapper {
      padding: $padding-480;
    }
    &-container {
      height: 120px;
      padding: 10px;
      gap: 6px;

      &__title {
        font-size: 28px;
        line-height: 28px;
      }
      &__desc {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }
}
