$dark-gray: #646464;
$text-black: #181818;
$dark-blue: #084e8c;
$light-gray: #f5f5f5;
$blue-text-color: #2b3674;
$light-black: #0d0d0d;
$light-dark-gray: #909090;
$accent-color: #3680fa;
$light-blue-text: #8893b7;
$padding-1440: 30px;
$padding-1200: 20px;
$padding-920: 16px;
$padding-768: 12px;
$padding-480: 8px;
