.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-wrapper {
  display: flex;
  gap: 42px;
  padding: 16px 0;
}
.navbar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar-logo__text {
  width: 225px;
  flex-shrink: 0;
  color: #646464;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}
.navbar-items {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}
.navbar-item {
  cursor: pointer;
}
.navbar-item-txt {
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  color: #181818;
}
.navbar-item-txt::before {
  position: absolute;
  content: attr(data-text);
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #084e8c;
}
.navbar-item:hover .navbar-item-txt {
  transform: rotateX(90deg);
}
.navbar-language {
  display: inline-block;
  position: relative;
  align-items: center;
  display: flex;
}
.navbar-language__selected {
  cursor: pointer;
  padding: 4px;
  color: #646464;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  user-select: none;
}
.navbar-language__selected-icon {
  display: flex;
  align-items: center;
}
.navbar-language__selected:hover {
  opacity: 0.7;
}
.navbar-language-list {
  position: absolute;
  z-index: 9;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  padding: 10px;
}
.navbar-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 1440px) {
  .navbar-actions {
    gap: 15px;
  }
  .navbar-wrapper {
    gap: 28px;
    padding: 14px 0;
  }
  .navbar-logo img {
    max-width: 140px;
  }
  .navbar-logo__text {
    font-size: 12px;
    width: 200px;
  }
  .navbar-items {
    padding: 0;
    gap: 22px;
  }
  .navbar-item-txt {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .navbar-wrapper {
    gap: 22px;
    padding: 12px 0;
  }
  .navbar-logo img {
    max-width: 120px;
  }
  .navbar-logo__text {
    font-size: 12px;
    width: 180px;
  }
  .navbar-items {
    gap: 18px;
  }
  .navbar-item-txt {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 25px;
  }
  .navbar-hamburger-lines {
    display: block;
    height: 15px;
    width: 20px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-hamburger-lines-container ~ .menu-items {
    background: #000;
  }
  .navbar-hamburger-lines.open .line1 {
    transform: rotate(45deg);
  }
  .navbar-hamburger-lines.open .line2 {
    transform: scaleY(0);
  }
  .navbar-hamburger-lines.open .line3 {
    transform: rotate(-45deg);
  }
  .navbar-hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  .navbar-hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar-hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar-wrapper {
    gap: 80px;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
  }
  .navbar .menu-items {
    transform: translate(-350%);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    top: 50px;
    left: 0;
    gap: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 4;
    width: 100%;
    max-width: unset;
    max-height: unset;
    transition: 0.2s;
    backdrop-filter: blur(20px) brightness(1.2);
    background: rgba(255, 255, 255, 0.5607843137);
    -webkit-backdrop-filter: blur(12px) brightness(1.2);
  }
  .navbar .mobileopen {
    transform: translateX(0);
  }
  .navbar-logo {
    flex-direction: column;
  }
  .navbar-logo img {
    max-width: 400px;
  }
  .navbar-logo__text {
    width: 225px;
    font-size: 14px;
    text-align: center;
  }
  .navbar-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }
  .navbar-items {
    gap: 18px;
  }
  .navbar-item .navbar-txt {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-wrapper {
    padding: 8px 0;
    gap: 16px;
  }
  .navbar-logo img {
    max-width: 80px;
  }
  .navbar-logo__text {
    font-size: 10px;
    width: auto;
  }
  .navbar-items {
    gap: 14px;
  }
  .navbar-item .navbar-txt {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .navbar-wrapper {
    gap: 12px;
    padding: 6px 0;
  }
  .navbar-logo img {
    max-width: 60px;
  }
  .navbar-logo__text {
    font-size: 9px;
  }
  .navbar-items {
    gap: 10px;
  }
  .navbar-item .navbar-txt {
    font-size: 11px;
  }
}
